.container {
  overflow: hidden;
  padding-bottom: 2rem;
  width: 95%;
  margin: auto;
  .title {
    color: #ffffff;
    font-size: 1.5rem;
  }
  .swiper {
    display: flex;
  }
  .slide {
    width: 300px;
  }
}
